<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body style="margin: 50px">
    <h1 class="display-5">Reset your password</h1>

    <form method="post" action="/reset" th:object="${user}">
      <table
        class="table table-borderless"
        style="white-space: nowrap; width: 500px"
      >
        <tr>
          <td></td>
          <td>
            <span th:each="err : ${#fields.errors('global')}">
              <span style="color: red" th:text="${err}"></span>
            </span>
          </td>
        </tr>

        <tr>
          <th style="width: auto">Username:</th>
          <td>
            <input
              type="text"
              name="username"
              size="30"
              th:field="*{username}"
            />
          </td>
          <td style="width: 200px"></td>
        </tr>
        <tr>
          <th style="width: auto"></th>
          <td colspan="2">
            <div th:object="${captcha}">
              <h6>Please complete the following captcha</h6>
              <div>
                <img
                  th:src="@{/numbers/number{n}.jpg(n = ${captcha.num1})}"
                  alt="number"
                  width="50px"
                  style="padding-bottom: 15px; padding-top: 10px"
                />
                <img
                  th:src="@{/numbers/number{n}.jpg(n = ${captcha.num2})}"
                  alt="number"
                  width="50px"
                  style="padding-bottom: 15px; padding-top: 10px"
                />
              </div>
              <div>
                <input type="hidden" th:field="*{num1}" th:value="*{num1}" />
                <input type="hidden" th:field="*{num2}" th:value="*{num2}" />
                <input
                  type="number"
                  th:field="*{ans}"
                  th:value="-1"
                  style="width: 120px"
                  placeholder="Enter captcha"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit" class="btn btn-primary">
              Update Password
            </button>
          </td>
        </tr>
      </table>
    </form>

    <div>
      <a href="/" class="text-decoration-none text-reset">Back to login</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
